* {box-sizing: border-box;}

html, body {
  overflow-x: hidden;
}

body {
    margin: 0px;
    font-family: sans-serif;
    --font-weight-light: 200;
    --font-weight-semilight: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 900;
    --font-stencil: 'Saira Stencil One', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --color1: #003E8B;
    --color2: #030136;
    --color3: white;
    --color4: #F00117;
    --color5: #C70119;
}

.text-outfit-bold{
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-bold);
}

.text-outfit-regular{
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-regular);
}

.text-outfit-semilight{
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-semilight);
}

.text-outfit-light{
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-light);
}

.text-stencil-regular{
    font-family: var(--font-stencil);
    font-weight: var(--font-weight-regular);
}


.text-blue{
    color: var(--color1) !important;
}

.text-white{
    color: var(--color1) !important;
}


.overflow-hidden{
    overflow: hidden;
    position: relative;
}

.linear-gradient {
    background: linear-gradient(var(--color3), var(--color3)) padding-box,
                linear-gradient(-45deg, var(--color1), var(--color3)) border-box;
}

.circle-hollow {
    border: 160px solid transparent;
	border-radius: 50%;
	width: 760px;
	height: 760px;
    position: absolute;
    transform: translate(-52%, 152px);
	z-index: -1;
}

.square-blue {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    background-color: var(--color1);
}

.square-red {
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    background-color: var(--color4);
}

.box-red {
    background-color: var(--color4);
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color3);
    text-align: center;
    flex-shrink: 0;
    border-radius: 16px;
}

.circle-shape {
    width: 461px;
    height: 461px;
    border-radius: 9999px;
    background-color: var(--color1);
}

.opacity-40{
    opacity: .4;
}

.opacity-08{
    opacity: .08;
}


.bg-blur {
    filter: blur(240px);
}

.general-index {
    z-index: 1;
}

.general-padding-r-l {
    padding-left: 6%;
    padding-right: 6%;
}

.general-padding-t-b {
    padding-top: 98px;
    padding-bottom: 86px;
    box-sizing: border-box;
}

.general-flex-row{
    display:flex;
}

.general-flew-wrap{
    flex-wrap: wrap;
}

.general-flex-column{
    display:flex;
    flex-direction: column;
}

.btn-blue {
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
}

.btn-blue:hover {
    background-color: var(--color2) !important;
    border-color: var(--color2) !important;
}

.btn-red {
    background-color: var(--color4) !important;
    border-color: var(--color4) !important;
}

.btn-red:hover {
    background-color: var(--color5) !important;
    border-color: var(--color5) !important;
}

.general-p {
    margin: 0px;
    font-size: 20px;
}

.general-h2 {
    margin: 0px;
    font-size: 64px;
}

.general-a {
    margin: 0px;
    font-size: 20px;
    margin-top: 20px;
}

/*NAV SECTION*/
nav {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

nav ul {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color3);
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

nav li {
    justify-content: flex-End;
    padding: 10px 0px 10px 0px;
}

nav a {
  color: var(--color2);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.logo img {
    height: 40px;
    display: block;
    object-fit: contain;
}


.menu, .telephone {
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.telephone:hover {
    color: var(--color1) !important;
}

.telephone:hover span {
    color: var(--color1) !important;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.menu li {
    padding: 30px;
    font-size: 16px;
}

.menu li a {
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-regular);
    display: inline-block;
    text-decoration: none;
    color: var(--color2);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a:hover {
    color: var(--color1);
}

.menu li a.active {
    color: var(--color1);
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-bold);
}

li.nav-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}


/*HERO SECTION*/
.vid-fluid {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    display: block;
}

.video-wrapper {
    position: relative;
    min-height: 100vh; 
}

#hero-text {
    color: var(--color3);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    width: 100%; 
    height: auto;
    gap: 0;
}

#hero-text h1{
    margin: 0px;
    font-size: 74px;
    align-items: center;
    text-align: center;
}


#hero-text h2{
    margin: 0px;
    font-size: 28px;
}

#hero-text p{
    margin: 0px;
    font-size: 24px;
}


/* Description Section */
#desc-padding-b{
    padding-bottom: 56px !important;
}

#desc-h1 {
    margin: 0px;
    margin-right: 48px;
    font-size: 56px;
}

.desc-p {
    font-size: 18px;
}

#desc-img {
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#desc-img .img-side {
    flex: 1;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 4px;
}

#desc-img .img-center {
    flex: 1.5;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 4px;
}

.desc-bottom {
    padding-bottom: 86px !important;
}

/* Product Section */
.prd-text {
    align-items: center;
    margin-bottom: 68px;
}

.prd-text-category {
    position: absolute;
    z-index: 2;
    margin: 0;
    color: var(--color3);
    text-align: center;
}

.img-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper img {
    object-fit: cover;
}

.product-list {
    flex: 1;
    justify-content: center;
}

.general-flex-column.product-list {
    flex: unset;          /* hapus flex:1 yang bikin melebar */
    width: fit-content;   /* ikut lebar konten */
}

.prd-m-btm {
    margin-bottom: 40px;
}

.prd-gap{
    gap: 40px;
    justify-content: center;
}

.product-space {
    gap: 40px;
}

.prd-section-top{
    padding-top: px !important;
}

.product-bottom {
    padding-bottom: 40px !important;
}

.clip-ver-1,
.clip-ver-2 {
    width: 251px;
    height: 251px;
    border-radius: 16px;
    clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);
}

.clip-ver-2 {
    clip-path: polygon(80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%, 0 0);
}

.circle-shape-prd-1, 
.circle-shape-prd-2  {
    width: 340px !important;
    height: 340px !important;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle-shape-prd-2 {
    justify-self: flex-end;
    bottom: 0;
    transform: translate(50%, 20%);
    z-index: -1;
}

/* Dist Section */
.maps-img{
    margin-top: 52px;
    width: 100%;
}

.maps-section-top{
    padding-top: 64px !important;
}

.nominal-maps-p{
    font-size: 32px !important;
    font-weight: var(--font-weight-bold);
}

.nominal-layout {
    gap: 24px;
    margin-left: auto; 
}

/* CLIENT SECTION */
.clt-text {
    align-items: flex-start;
    justify-content: center;
}

.clt-logo {
    margin-left: auto;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.box-white{
    background-color: var(--color3) !important;
    width: 216px;
}

.box-white img{
    width: 100%;
}

.clt-logo-wrapper{
    position: relative;
}

.circle-shape-clt {
    width: 340px !important;
    height: 340px !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
}

/* Footer Section */
#tempaltemo_footer .border-top,
#tempaltemo_footer .border-bottom {
    border-color: color-mix(in srgb, var(--color3) 10%, transparent) !important;
}

.logo {
    font-weight: 500 !important;
}

.bg-dark-blue{
    background-color: var(--color2);
}

.list-inline-item {
    border-radius: 1px !important;
    width: 40px;
    height: 40px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border: var(--bs-border-width) var(--bs-border-style) color-mix(in srgb, var(--color3) 10%, transparent) !important;
}

.nav-icon {
    color: white !important;
    font-size: 14px;
}

.list-inline-item:hover {
    background-color: var(--color3) !important;
}

.list-inline-item:hover .nav-icon {
    color: var(--color2) !important;
}

.align-top {
    margin-top: 4px;
    margin-right: 6px;
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
    .general-padding-t-b {
        padding-top: 64px;
        padding-bottom: 52px;
    }

    .box-red {
        padding: 4px 24px;
    }

    .circle-hollow {
        border: 156px solid transparent;
        width: 740px;
        height: 740px;
        transform: translate(-60%, 124px);
    }

    .general-p {
        font-size: 14px;
    }

    .general-h2 {
        font-size: 52px;
    }

    .general-a {
        font-size: 20px;
        margin-top: 20px;
    }

    /*NAV SECTION*/
    nav a {
        font-size: 12px;
    }

    .logo img {
        height: 24px;
    }


    .menu, .telephone {
        font-size: 12px;
    }


    /* Hero Section */
    #hero-text {
        top: 52%;
    }

    #hero-text h1 {
        max-width: 680px;
        font-size: 80px;

    }

    #hero-text h2{
        margin: 0px;
        font-size: 24px;
    }

    #hero-text p{
        font-size: 24px;
    }

    /* Desc Section */
    #desc-h1 {
        margin-right: 48px;
        font-size: 40px;
    }

    .desc-p {
        font-size: 14px;
    }

    #desc-img {
        gap: 16px;
        justify-content: center;
    }

    /* Client Section  */
    .clt-logo-wrapper{
        padding-top: 24px;
    }

    
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}